#root {
  max-width: calc (1280px+ 300px);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

section {
  flex: 1;
}

main {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-right: 300px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0px;
  list-style: none;
}

li {
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Tarjetas */
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
}

img {
  width: 150px;
  height: 150px;
}

/* ---- Botones ---- */
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(225, 224, 231);
  margin-top: 10px;
  transition: 0.2s;
}

/* Variantes */
.btn.primary {
  background-color: #2d00f7c4; /* Lila */
}

.btn.success {
  background-color: #28a745; /* Verde */
}

.btn.danger {
  background-color: #dc3545; /* Rojo */
}

.btn.secondary {
  background-color: #6c757d; /* Gris */
}

/* Hover */
.btn:hover {
  opacity: 0.85;
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  min-width: 250px;
  background-color: #f5f5f5;
  padding: 1rem;
  border-left: 2px solid #ccc;
  text-align: left;
  overflow-y: auto;
}